Repository Nadock/verified_commits_check, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, messenger, documentation, dependencies, action, misc

Switch to using v1 in example workflow
  .github/workflows/example.yml
Labels: none

This is an unsigned commit
  README.md
Labels: documentation

Add markdown-lint comments to README.md
  README.md
Labels: documentation

Add send_to_slack method
  src/action.py
  src/messenger.py
Labels: messenger, action

Remove redundant logger level setting
  src/action.py
  src/github.py
Labels: action

Implement send_to_slack method
  src/messenger.py
Labels: messenger, action

Add unit tests for send_to_slack
  src/action_test.py
  src/messenger_test.py
Labels: tests, messenger, action

Update README.md with Slack webhook instructions
  README.md
Labels: documentation

Switch to using the html url in console messages
  src/messenger.py
Labels: messenger, action

Update unit tests
  src/action_test.py
  src/messenger_test.py
Labels: tests, messenger, action

feat: Slack messenger backend (#3)
  README.md
  src/action.py
  src/action_test.py
  src/github.py
  src/messenger.py
  src/messenger_test.py
Labels: tests, messenger, documentation, action

fix: Change console URLs to use webpage links (#5)
  src/action_test.py
  src/messenger.py
  src/messenger_test.py
Labels: tests, messenger, action

Update console mesage format
  src/messenger.py
Labels: messenger, action

Update slack message format
  src/messenger.py
Labels: messenger, action

Update unit tests
  src/messenger_test.py
Labels: tests, messenger, action

fix: Standardise message content (#6)
  src/messenger.py
  src/messenger_test.py
Labels: tests, messenger, action

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

ci: Add CodeQL GitHub actions workflow (#7)
  .github/workflows/codeql-analysis.yml
Labels: none

Pin Python dependencies to exact versions
  Pipfile
  Pipfile.lock
Labels: dependencies

Merge pull request checks into one workflow
  .github/workflows/assign.yml
  .github/workflows/black.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/mypy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
Labels: none

Add dependabot config file
  .github/dependabot.yml
Labels: none

Update to Python 3.10
  .python-version
  Pipfile
  Pipfile.lock
Labels: dependencies

Remove need for entrypoint script
  Dockerfile
  entrypoint.sh
Labels: action

Install requests type stubs package
  Pipfile
  Pipfile.lock
Labels: dependencies

Fix issues identified with updates
  .github/workflows/pr_checks.yml
  src/action.py
  src/messenger_test.py
Labels: tests, messenger, action

Fix spelling mistakes in code and .md files
  CONTRIBUTING.md
  README.md
  src/action_test.py
  src/github_test.py
  src/messenger.py
  src/messenger_test.py
Labels: tests, messenger, documentation, action

feat: Update dependencies and add dependabot config (#11)
  .github/dependabot.yml
  .github/workflows/assign.yml
  .github/workflows/black.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/mypy.yml
  .github/workflows/pr_checks.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .python-version
  CONTRIBUTING.md
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  entrypoint.sh
  src/action.py
  src/action_test.py
  src/github_test.py
  src/messenger.py
  src/messenger_test.py
Labels: tests, messenger, documentation, dependencies, action

Update unit tests to handle event name check
  src/action_test.py
Labels: tests, action

Add warning about supported workflow triggers
  README.md
Labels: documentation

Add pre-condition check in code for GitHub event type
  src/action.py
Labels: action

Update README badges
  README.md
Labels: documentation

fix: #8 KeyError when event type not push (#13)
  README.md
  src/action.py
  src/action_test.py
Labels: tests, documentation, action

Run example workflow with version `@main`
  .github/workflows/example.yml
Labels: none

Revert removal of entrypoint.sh script
  Dockerfile
  entrypoint.sh
Labels: action

Add execute bit to entrypoint script
  entrypoint.sh
Labels: action

Remove `-o pipefail` from entrypoint script
  entrypoint.sh
Labels: action

Add comment explaining why the entrypoint script is required
  entrypoint.sh
Labels: action

fix: Revert removal of container entrypoint script (#14)
  Dockerfile
  entrypoint.sh
Labels: action

Run example workflow with version `@main` (#16)
  .github/workflows/example.yml
Labels: none

Move assign & label workflows to pull_request_dispatch
  .github/workflows/pr_checks.yml
  .github/workflows/pr_manage.yml
Labels: none

.github/labeler.yml:

tests:
  - src/*_test.py

messenger:
  - src/messenger*.py

documentation:
  - "*.md"
  - "**/*.md"
  - LICENSE

dependencies:
  - Pipfile*

action:
  - src/*.py
  - Dockerfile
  - action.yml
  - entrypoint.sh

misc:
  - events/*
  - img/*
  - .*ignore
  - .pylintrc
  - Makefile
